*{
    margin: 0;
    padding: 0;
}

div{
    display: flex;
    background-color: aquamarine;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
    position: fixed;
    /* z-index: 1; */
    width: 100vw;
}
ul{
    list-style: none;
}
.ull{
    /* list-style: none; */
    display: flex;
    justify-content: space-evenly;
    width: 50vw;
}

@media screen and (max-width:500px ) {
    div , .ull{
        flex-direction: column;
        align-items: center;
    }
    
}