/* div{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: aqua;
    transition-property: background-color, border-radius;
    transition-delay: 2s;
}

div:hover{
    background-color: bisque;
    border-radius: 50%;
    transition-duration: 2000ms;
} */


*{
    margin: 0;
    padding: 0;
}



.child{
    width: 100px;
    height: 100px;
    transition-duration: 3s;
}

.child-1{
    background-color: bisque;
    transition-timing-function: linear;
}

.child-2{
    background-color: rgb(201, 196, 255);
    transition-timing-function: ease-in;
}
.child-3{
    background-color: rgb(214, 255, 196);
    transition-timing-function: ease-out;
}

.child-4{
    background-color: rgb(219, 255, 196);
    /* transition-timing-function:ease-in-out; */
    transition-timing-function:;
}

.parent:hover .child{
    width: 100vw;
}