*{
    margin: 0;
    padding: 0;
}
body{
    background-color: azure;
    width: 100vw;
    height: 100vh;
}

.container{
    height: 100%;
    width: 100%;
    display: grid;

    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 5fr 5fr 1fr;
    grid-template-areas:  " header header header"
                            "nav1 main nav3"
                            "nav2 main nav3"
                            "footer footer footer";
    gap: 10px;

}

.header{
    background-color: rgb(255, 0, 0);
    /* grid-column-start: 1 ;
    grid-column-end: 3 ; */
    grid-area: header;

}
.nav1{
    background-color: chocolate;
    grid-area: nav1;
    
}
.nav2{
    background-color: rgb(16, 223, 16);
    /* grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5; */
    grid-area: nav2;

    
}
.nav3{
    background-color: rgb(255, 27, 240);
    /* grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4; */
    grid-area: nav3;
    
}
.main{
    background-color: rgb(25, 240, 253);
    /* grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4; */
    grid-area: main;   
}
.footer{
    background-color: rgb(30, 136, 229);
    /* grid-column-start: 2; */
    /* grid-column-end: 4; */
    /* grid-row-start: 4;
    grid-row-end: 5; */
    /* grid-row: 4/5; */
    grid-area: footer;
    
}
